<div class="b-mini_cart">
    <div class="b-mini_cart_header">
        SHOPPING CART
        <span class="b-close_search" id="b-close_cart"></span>
    </div>
    <ul class="b-mini_cart_items mb-0 list-unstyled">
        <li class="clearfix">
        <img src="assets/images/products/home/product_grid_01_01.jpg" width="50" alt="item1">
        <span class="item-name">Sony DSC-RX100M III</span>
        <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span> 
        </li>

        <li class="clearfix">
        <img src="assets/images/products/home/product_grid_02_01.jpg" width="50" alt="item1">
        <span class="item-name">KS Automatic Mechanic...</span>
        <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span> 
        </li>

        <li class="clearfix">
        <img src="assets/images/products/home/product_grid_03_01.jpg" width="50" alt="item1">
        <span class="item-name">Kindle, 6" Glare-Free To...</span>
        <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span> 
        </li>
    </ul>
    <div class="shopping-cart-total clearfix pl-3 pr-3 mb-4">
        <span class="lighter-text float-left">Total:</span>
        <span class="main-color-text float-right">$2,229.97</span>
    </div>
    <div class="pl-3 pr-3">
        <a href="cart-default.html" class="btn d-block mb-2">Cart</a>
        <a href="checkout.html" class="btn btn-bg d-block">Checkout</a>
    </div>
</div>
<div class="b-main_menu-wrapper hidden-lg-up">
    <ul class="mobile-top"> 
        <li class="search">
            <div class="search-holder-mobile">
                <input type="text" name="search-mobile" value="" placeholder="Search" class="form-control">
                <a class="fa fa-search"></a>
            </div>
        </li>
    </ul>
    <ul class="categories"> 
        <li class="has-sub dropdown-wrapper from-bottom">
            <a href="index.html"><span class="top">Home</span><i class="fa fa-angle-down"></i></a>
            <div class="dropdown-content sub-holder dropdown-left narrow">
                <div class="dropdown-inner">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="menu-item">
                                <!-- CATEGORIES CONTENT -->
                                <div class="categories">
                                    <div class="clearfix">
                                        <div class="col-sm-12 hover-menu text-uppercase">
                                            <ul>
                                                <li><a href="index.html">HOME DEFAULT</a></li>
                                                <li><a href="home-lingerie.html">Lingerie store</a></li> 
                                                <li><a href="home-watch.html">HOME Watches</a></li> 
                                                <li><a href="home-minimalist.html">home minimalist</a></li> 
                                                <li><a href="home-jewellery.html">home jewellery</a></li> 
                                                <li><a href="home-furniture.html">home furniture</a></li> 
                                                <li><a href="home-full-width.html">home fashion full</a></li> 
                                                <li><a href="home-fashion.html">home fashion</a></li> 
                                                <li><a href="home-cosmetics.html">home cosmetics</a></li> 
                                                <li><a href="home-dark.html">home dark</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
            </div>
        </li>
        <!-- Top level items -->
        <li class=" has-sub dropdown-wrapper from-bottom">
            <a href="shop-grid-three.html"><span class="top">Shop</span><i class="fa fa-angle-down"></i></a>
            <!-- Sub Menu items -->
            <div class="dropdown-content sub-holder dropdown-left narrow">
                <div class="dropdown-inner">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="menu-item"> 
                                <div class="categories">
                                    <div class="clearfix">
                                        <div class="col-sm-12 hover-menu">
                                            <ul>
                                                <li><a href="shop-grid-three.html">shop</a></li>
                                                <li><a href="product-single.html">single product</a></li>
                                                <li><a href="#">checkout</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </li> 
        <li>
            <a href="blog-default.html"><span class="top">Blog</span></a>
        </li>
        <li>
            <a href="portfolio.html"><span class="top">Portfolio</span></a>
        </li>
        <li class="has-sub dropdown-wrapper from-bottom">
            <a href="#"><span class="top">Accessories</span><i class="fa fa-angle-down"></i></a> 
            <div class="dropdown-content sub-holder dropdown-left narrow">
                <div class="dropdown-inner">
                    <div class="clearfix">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="menu-item"> 
                                <div class="categories">
                                    <div class="clearfix">
                                        <div class="col-sm-12 hover-menu">
                                            <ul>
                                                <li><a href="contact-01.html">contact us</a></li>
                                                <li><a href="faq.html">faq</a></li>
                                                <li><a href="our-gallery">our gallery</a></li> 
                                                <li><a href="our-services.html">our services</a></li> 
                                                <li><a href="shop-grid-three">our shop</a></li>  
                                                <li><a href="our-gallery.html">our gallery</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </li>
        <li>
            <a href="cart-default.html"><span class="top">Cart</span></a>
        </li>
        <li>
            <a href="my-account.html"><span class="top">My Account</span></a>
        </li>
        <li>
            <a href="#"><span class="top">wishlist</span></a>
        </li>
        <li>
            <a href="my-account.html"><span class="top">login</span></a>
        </li> 
    </ul> 
</div>   
<%= render partial: 'spree/shared/header' %>
<div class="main-container">
    <div id="wrapper" class="b-wrapper" data-hook>

        <%#= taxon_breadcrumbs(@taxon) %>

        <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
            <%#= flash_messages %>
            <%= yield %>
        </div>

        <%= yield :templates %>

    </div>
    <%= render partial: 'spree/shared/footer' %>

</div>