<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr class="<%= cycle('', 'alt') %> line-item product customed-font-normal">
    <td data-th="Product" data-hook="cart_item_image">
      <div class="row">
        <div class="col-sm-2 hidden-xs">
          <% if variant.images.empty? %>
            <%= link_to(render('spree/shared/image', image: variant.product.display_image, size: :small), variant.product) %>
          <% else %>
            <%= link_to(render('spree/shared/image', image: variant.images.first, size: :small), variant.product) %>
          <% end %>
        </div>
        <div class="col-sm-10">
          <h4 class="nomargin text-muted"><%= link_to line_item.name, product_path(variant.product) %></h4>
          <%= variant.options_text %>
          <% if line_item.insufficient_stock? %>
            <span class="out-of-stock small-font">
              <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
            </span>
          <% end %>
          <p class="text-muted"><%= line_item_description_text(line_item.description) %></p>
        </div>
      </div>
    </td>
    <td data-th="Quantity" data-hook="cart_item_quantity">
      <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity form-control customed_input_width", size: 5 %>
    </td>
    <td data-th="Price" data-hook="cart_item_price">
      <%= line_item.single_money.to_html %>
    </td>
    <td data-th="Subtotal" class="text-center" data-hook="cart_item_total">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </td>
    <td class="actions" data-th="" data-hook="cart_item_delete">
      <%= link_to '#', class: 'btn btn-danger btn-sm delete customed_delete_image', id: "delete_#{dom_id(line_item)}" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end -%>
