<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>Products</span></h1>  
    <div class="b-breadcrumbs">
        <%= link_to 'Home', root_path %>
        <span>Products</span>
    </div>
</div> 

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render partial: 'spree/shared/filters' %>
    <% else %>
      <%= render partial: 'spree/shared/taxonomies' %>
    <% end %>
  </div>
<% end %>


<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= t('spree.no_products_found') %></h6>
    <% else %>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    <% end %>
  </div>

<% else %>

  <div data-hook="homepage_products">
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  </div>
<% end %>
