<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>Product</span></h1>  
    <div class="b-breadcrumbs">
        <%= link_to 'Home', root_path %>
        <span>Product</span>
    </div>
</div> 

<% cache [I18n.locale, current_pricing_options, @product] do %>
    <div class="b-product_single pb-5 background-white-color">
        <% @body_id = 'product-details' %>
        <div class="container">
            <div class="row clearfix"> 
                <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                    <%= render partial: 'image' %>
                </div>
                <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
                    <div class="b-product_single_summary">
                        <h1><%= @product.name %></h1>
                        <div class="b-produt_description">
                            <p class="text-muted"><%= product_description(@product) rescue t('spree.product_has_no_description') %></p>
                        </div>
                        <div class="b-product_single_action clearfix">
                            <!--div class="b-quantity pull-left">
                                <input type="button" value="-" class="b-minus">
                                <input type="text" step="1" min="1" max="" name="b-quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                <input type="button" value="+" class="b-plus">
                            </div>
                            <button class="text-uppercase pull-left btn">add to cart</button-->
                            <%= render partial: 'cart_form' %>
                        </div>
                        <div class="b-product_single_option">
                            <%= render partial: 'properties' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
<% end %>