<% @body_id = 'signup' %>
<%= render partial: 'spree/shared/secondary_header' %>
<%= render 'spree/shared/error_messages', target: resource %>
<div class="background-white-color">
        <div id="new-customer">
            <div class="alert alert-info "><%= Spree.t(:new_customer) %></div>

            <div data-hook="signup">
                <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
                <div data-hook="signup_inside_form">
                    <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
                    <div class="actions"><%= f.submit Spree.t(:create), class: 'btn btn-success btn-block', style: 'width: 30%;margin: auto;display: block;' %></div>
                </div>
                <% end %>
                <hr>
                <%= link_to Spree.t(:login_as_existing), spree.login_path %>
            </div>

        </div>

        <div data-hook="login_extras"></div>
</div>