<header id="b-header"> 
    <div class="b-header b-header_main">
        <div class="container">
                <a href="#"><%= image_tag "logo.png", class:"img-fluid d-block logo" %></a>
                <div class="clearfix row">
                <div class="col-xl-2 col-lg-2 col-mb-3 col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-xl-7 col-lg-7 col-mb-6 col-sm-12 col-xs-12 hidden-sm-down p-static hidden-md-down">
                    <div class="b-header_nav b-header_nav_center">
                        <div class="b-menu_top_bar_container">
                            <div class="b-main_menu menu-stay-left">
                                <ul class="categories pl-0 mb-0 list-unstyled" style="margin: auto;display: flex;justify-content: center;">
                                    <!-- Mega menu -->
                                    <!-- Top level items -->
                                    <li class="b-has_sub b-dropdown_wrapper from-bottom">
                                        <%= link_to root_path do %>
                                            <span class="top">HOME</span>
                                        <% end %>
                                    </li>  
                                    <!-- Top level items -->
                                    <li class="b-has_sub b-dropdown_wrapper from-bottom p-static">
                                        <a href="product-single.html" class="p-relative"><span class="top">WHERE TO BUY</span></a>
                                    </li>
                                    <!-- Top level items -->
                                    <li class=" b-has_sub b-dropdown_wrapper from-bottom p-static">
                                        <a href="shop-grid-three.html" class="p-relative description ">
                                        <span class="top">SHOP</span></a>
                                        <!-- Sub Menu items -->
                                    </li>
                                    <!-- Top level items --> 
                                    <li class="b-has_sub b-dropdown_wrapper from-bottom">
                                        <%= link_to "/blog" do %>
                                            <span class="top">BLOG</span>
                                        <% end %>
                                    </li> 
                                    <!-- Top level items -->
                                    <li class="b-has_sub b-dropdown_wrapper from-bottom p-static">
                                        <%= link_to "/about", class: "p-relative" do %>
                                            <span class="top">ABOUT US</span>
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-6 col-xs-6">
                    <div class="b-header_right"> 
                    <div class="b-search_icon hidden-sm-down">
                        <a href="javascript:;" id="b-search_toggle" class="d-inline-block">
                        <i class="icon-magnifier icons"></i>
                        </a>
                    </div>
                    <!--div class="b-wishlist_icon">
                        <a href="#" class="d-inline-block">
                        <i class="icon-heart icons"></i>
                        <span>0</span>
                        </a>
                    </div-->
                    <% if (current_order != nil) then %>
                        <div class="b-cart_basket pr-0">
                            <%= link_to spree.cart_path, class: 'd-inline-block', id: 'b-mini_cart' do %>
                            <i class="icon-basket icons"></i>
                            <span class="b-cart_totals">
                                <span class="b-cart_number"><%= current_order.item_count %></span>
                                <span class="b-subtotal_divider">/</span> 
                                <span class="b-cart_subtotal">
                                <span class="b-cart_amount amount">
                                    <span class="b-cart_currency"><%= current_order.display_total.to_html %></span>
                                </span>
                                </span>
                            </span>
                            <% end %>
                        </div>
                    <% end %>

                    <div class="hidden-lg-up">
                        <i class="icon-menu icons b-nav_icon" id="b-nav_icon"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>