<div  class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery"> 
  <div id="b-home_01_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
    <ul>  
      <li data-index="rs-30" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="<%= image_url('slider/home-dark/main-big-banner-1.jpg') %>%"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> 
        <%= image_tag 'back1.png',  alt: "", :"data-bgposition" => "center center", :"data-bgfit" => "cover", :"data-bgrepeat" => "no-repeat", :"data-bgparallax" => "10", class: "rev-slidebg" %>
        <div class="tp-caption  tp-resizeme" 
              data-x="['left','left','left','center']" 
              data-hoffset="['250','250','50','0']" 
              data-y="['top','top','top','top']" 
              data-voffset="['200','200','200','100']" 
              data-fontsize="['40','40','40','32']" 
              data-width="none" 
              data-height="none" 
              data-whitespace="nowrap" 
              data-type="text" 
              data-responsive_offset="on" 
              data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" 
              data-paddingtop="[0,0,0,0]" 
              data-paddingright="[0,0,0,0]" 
              data-paddingbottom="[0,0,0,0]" 
              data-paddingleft="[0,0,0,0]" 
              style="font-size: 40px; line-height: 22px; font-family: 'Italianno'; color: #bc9c72; z-index: 999">
              Shop & save today 
        </div>
        <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['100','100','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['250','250','250','130']" 
            data-fontsize="['54','54','54','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Lora; color: #fff; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999">craft beer for all
        </div> 
        <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['200','20','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['310','310','310','180']" 
            data-fontsize="['54','54','54','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Lora; color: #fff; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999">
        </div> 
          <div class="tp-caption tp-resizeme text-lg-center"  
            data-x="['left','left','left','center']" 
            data-hoffset="['120','120','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['380','380','380','250']" 
            data-fontsize="['16','16','16','16']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Karla; color: #fff; z-index: 999">
            <p>Vitae diam parturient eu vestibulum parturient nulla neque <br>eu vestibulum parturient nulla</p>
        </div> 
        <div class="tp-caption tp-resizeme font-title rs-parallaxlevel-1 hidden-xs-down" 
              data-x="['right','right','right','center']" 
              data-hoffset="['100','100','50','0']" 
              data-y="['middle','middle','middle','center']" 
              data-voffset="['0','0','0','0']" 
              data-fontsize="['250','250','250','260']" 
              data-width="none" 
              data-height="none" 
              data-whitespace="nowrap" 
              data-type="text" 
              data-responsive_offset="on" 
              data-frames='[{"delay":650,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" 
              data-paddingtop="[0,0,0,0]" 
              data-paddingright="[0,0,0,0]" 
              data-paddingbottom="[0,0,0,0]" 
              data-paddingleft="[0,0,0,0]">
              <%= image_tag "slider/home-dark/dark-sld2.png", :"data-ww" => "['480px','300px','300px','250px']", style: "transform: matrix3d(0.990268, 0.139173, 0, 0, -0.139173, 0.990268, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);" %>
          </div> 
          <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['250','230','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['450','450','450','300']" 
            data-fontsize="['73','73','73','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" >
            <a href="#" class="btn btn-line">LEARN MORE</a>
        </div>   
      </li>
      <li data-index="rs-301" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="<%= image_url('slider/home-dark/main-big-banner-2.jpg') %>"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> 
        <%= image_tag "back2.jpg",  alt: "",  :"data-bgposition" => "center center", :"data-bgfit" => "cover", :"data-bgrepeat" => "no-repeat", :"data-bgparallax" => "10", class: "rev-slidebg" %>
        <div class="tp-caption  tp-resizeme" 
              data-x="['left','left','left','center']" 
              data-hoffset="['250','250','50','0']" 
              data-y="['top','top','top','top']" 
              data-voffset="['200','200','200','100']" 
              data-fontsize="['40','40','40','32']" 
              data-width="none" 
              data-height="none" 
              data-whitespace="nowrap" 
              data-type="text" 
              data-responsive_offset="on" 
              data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" 
              data-paddingtop="[0,0,0,0]" 
              data-paddingright="[0,0,0,0]" 
              data-paddingbottom="[0,0,0,0]" 
              data-paddingleft="[0,0,0,0]" 
              style="font-size: 40px; line-height: 22px; font-family: 'Italianno'; color: #bc9c72; z-index: 999">
              Chanel flowerbomb 
        </div>
        <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['100','100','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['250','250','250','130']" 
            data-fontsize="['54','54','54','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Lora; color: #fff; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999">craft beer for all 
        </div> 
        <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['200','20','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['310','310','310','180']" 
            data-fontsize="['54','54','54','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Lora; color: #fff; line-height: 60px; text-align: center; text-transform: uppercase; z-index: 999">
        </div> 
          <div class="tp-caption tp-resizeme text-lg-center"  
            data-x="['left','left','left','center']" 
            data-hoffset="['120','120','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['380','380','380','250']" 
            data-fontsize="['16','16','16','16']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" 
            style="font-family: Karla; color: #fff; z-index: 999">
            <p>Vitae diam parturient eu vestibulum parturient nulla neque <br>eu vestibulum parturient nulla</p>
        </div> 
        <div class="tp-caption tp-resizeme font-title rs-parallaxlevel-1 hidden-xs-down" 
              data-x="['right','right','right','center']" 
              data-hoffset="['100','100','50','0']" 
              data-y="['middle','middle','middle','center']" 
              data-voffset="['0','0','0','0']" 
              data-fontsize="['250','250','250','260']" 
              data-width="none" 
              data-height="none" 
              data-whitespace="nowrap" 
              data-type="text" 
              data-responsive_offset="on" 
              data-frames='[{"delay":650,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" 
              data-paddingtop="[0,0,0,0]" 
              data-paddingright="[0,0,0,0]" 
              data-paddingbottom="[0,0,0,0]" 
              data-paddingleft="[0,0,0,0]">
              <%= image_tag "slider/home-dark/dark-sld1.png" %>
          </div> 
          <div class="tp-caption tp-resizeme"  
            data-x="['left','left','left','center']" 
            data-hoffset="['250','230','50','0']" 
            data-y="['top','top','top','top']" 
            data-voffset="['450','450','450','300']" 
            data-fontsize="['73','73','73','40']" 
            data-width="none" 
            data-height="none" 
            data-whitespace="nowrap" 
            data-type="text" 
            data-responsive_offset="on" 
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]' data-textalign="['inherit','inherit','inherit','inherit']" 
            data-paddingtop="[0,0,0,0]" 
            data-paddingright="[0,0,0,0]" 
            data-paddingbottom="[0,0,0,0]" 
            data-paddingleft="[0,0,0,0]" >
            <a href="#" class="btn btn-line">BUY NOW</a>
        </div>   
      </li> 
    </ul>
    <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>  
  </div>
</div> 
<section id="b-products">
  <div style="background-color: #000;" class="pb-3">
    <div class="b-section_title">
        <span class="b-section_title_over d-block text-center">WELCOME TO STRIKE BREWING CO.</span>
        <h4 class="text-center text-uppercase">
          Our Services
          <span class="b-title_separator"><span></span></span>
        </h4>
    </div> 
    <div class="b-feature_cat_carousel">
      <div class="container">
          <div class="row clearfix b-our_service_text mt-4 mb-3 pb-5">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <h5 class="text-left">
                Our lineup of craft beers includes our year round lineup, special seasonal ales, and our experimental Bullpen Series. Come visit our brewery and warehouse taproom in San Jose, California.
              </h5>
              <p>&nbsp;</p>
              <%= image_tag "beersontable.png", class: "img-fluid d-block m-auto" %>
              <p>&nbsp;</p>
              <p>Check out what's on tap right now.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-xl-1 offset-lg-1 offset-md-1">
              <h5>HOURS</h5>
              <p>Mon&nbsp;&nbsp;&nbsp;3pm - 9pm</p>
              <p>Tue&nbsp; &nbsp; &nbsp;3pm - 9pm</p>
              <p>Wed&nbsp;&nbsp;&nbsp;3pm - 9pm</p>
              <p>Thu &nbsp;&nbsp;&nbsp;3pm - 9pm</p>
              <p>Fri &nbsp; &nbsp; &nbsp;3pm - 10pm</p>
              <p>Sat&nbsp; &nbsp; &nbsp;12pm - 10pm</p>
              <p>Sun&nbsp;&nbsp; &nbsp;12pm - 8pm</p>
              <p> &nbsp; </p>
              <h5>LOCATION</h5>
              <p>2099 S 10th Street Unit 30</p>
              <p>San José, CA 95112</p>
              <p>Get Directions</p>
              <p> &nbsp; </p>
              <h5>WIFI</h5>
              <p>Free!</p>
              <p> &nbsp; </p>
              <h5>PHONE</h5>
              <p>(877) 855-8620</p>
              <p>or email us!</p>
            </div>
          </div>
        </div>
    </div> 
  </div>
</section>   
<section id="b-products">
  <div style="background-color: #000;" class="pb-3">
    <div class="b-products b-product_grid_style_2">
        <div class="rev_slider fullwidthabanner">
            <div class="row clearfix">
              <div id="demo" class="carousel slide full-width" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                  <li data-target="#demo" data-slide-to="4"></li>
                  <li data-target="#demo" data-slide-to="5"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag "s1.jpg" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "s2.jpg" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "s3.jpg" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "s4.jpg" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "s5.jpg" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "s6.jpg" %>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>

              </div>
            </div>
        </div>
    </div>
  </div>
</section> 
<section id="b-blog">
  <div class="b-blog b-blog_grid text-center b-blog_grid_three mb-3">
    <div class="container">
      <div class="row clearfix b-our_service_text pt-5 mt-4 mb-3 pb-5">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <%= image_tag "squarespace.jpg", class: "full-width" %>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <h3><b>SANTA CRUZ CLASSIC BLONDE ALE & SCREAMING HAND IMPERIAL AMBER ALE</b></h3>
          <p class="text-justify">We've teamed up with Santa Cruz Skateboards to create the crisp, refreshing session craft beer "Classic Dot Blonde Ale". Coming in at just 4.5% ABV, it's a refreshing way to finish the day or keep on going.</p>
          <p>&nbsp;</p>
          <p class="text-justify">Santa Cruz Classic Dot Blonde Ale is a crisp refresher, now available throughout the state of California in 12oz. cans, 22oz bottles, and draft.</p>  
          <p>&nbsp;</p>
          <p class="text-justify">You can pick some up at these California locations.</p>
        </div>
      </div>
    </div>
  </div>
</section>    
<section id="b-newsletter">
    <div class="b-newsletter b-newsletter_bg b-newsletter_bg_dark mb-5">
        <div class="b-newsletter_inner">
            <h3 class="text-center">Always be in the know!</h3>
            <h2 class="text-center">SAVE 70% OFF SALE</h2>
            <p class="text-center">Sign up with your email address to received news and updates.</p>
            <div class="b-newsletter_form">
                <form action="#" class="clearfix">
                    <div class="form-group float-left"> 
                        <label>Email address: </label>
                        <input name="email" placeholder="Your email address" required="" type="email"> 
                    </div>  
                    <div class="b-form_submit float-left">    
                        <button class="b-submit">Sign up</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</section>
