<% if flash[:alert] %>
    <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer" class="panel-body">
    <div class="alert alert-info panel-heading"><%= Spree.t(:login_as_existing) %></div>
    <div data-hook="login" class="panel-body">
        <%= render partial: 'spree/shared/login' %>
        <hr>
        <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
    </div>
</div>
<div data-hook="login_extras"></div>
