<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>My Account</span></h1>  
    <div class="b-breadcrumbs">
        <a href="index.html">Home</a>
        <span>My Account</span>
    </div>
</div> 

<div class="background-white-color">
    <% @body_id = 'login' %>
    <div id="existing-customer">
      <h6 class="alert alert-info"><%= Spree.t(:login_as_existing) %></h6>
      <div data-hook="login">
        <%= render partial: 'spree/shared/login' %>
        <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
      </div>
    </div>
    <div data-hook="login_extras"></div>
</div>